/*

!/.gitignore

!/stages.json
!/recruitment.json
!/item_index.json
!/version.json
!/battle_data.json
!/infrast.json

!/template
/template/*
!/template/infrast/
!/template/items/

!/Arknights-Tile-Pos

!/global
/global/*/*/*
!/global/*/resource/recruitment.json
!/global/*/resource/item_index.json
!/global/*/resource/version.json
